@import "tailwindcss";

@theme {
  --color-primary: #ff8901;
  --color-secondary: #fb923c;
  --container-center: true;
  --container-padding: 2rem;
}

@media (width >= 640px) {
  @theme {
    --container-padding: 2rem;
  }
}

@media (width >= 1024px) {
  @theme {
    --container-padding: 4rem;
  }
}

@media (width >= 1280px) {
  @theme {
    --container-padding: 5rem;
  }
}
